/* === Global === */

html {
    font-size: 16px;
}

body {
    /*background-color: white;*/
    background-image: url('../img/background - kopie1.png');
    /*background-color: #F0FFFF;*/
    padding: 0 2rem 2rem;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ueberschrift2, .ueberschrift {
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.table {
    background-color: azure;
}
/* === Generelles === */

.navbar {
    font-weight: bold;
    background-color: #ffd426;
}

.navbar-header {
    padding-left: 4rem;
}

.navbar-brand {
    font-size: 1rem;
}

.navbar-brand:hover {
    background-color: #ffe373;
}

/* === Startseite und meine Wunschstädte === */

@keyframes logoAnimation {
    0% { transform: rotateY(0deg) }
    5% { transform: rotateY(10deg) }
    10% { transform: rotateY(20deg) }
    15% { transform: rotateY(30deg) }
    20% { transform: rotateY(40deg) }
    25% { transform: rotateY(50deg) }
}

#logo > img {
    animation: logoAnimation 5s ease-in-out infinite alternate;
}

.btn-typ-4 {
    width: auto;
    height: 30px;
}

#testButton {
    width: 400px;
    height: 40px;
}
#untersterBereichWunschStaedte {
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0;
    padding: 0;
}

.col-100 {

    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.btn-typ-100 {
    margin: 0;
    padding: 0;
}
.btn-typ-100:hover {
    background-color: azure;
    border: solid 1px blue;
}

/* === stadtSpeichern- Seite === */

.stadtSpeichern {
    width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px blue;
    background-color: white;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.row {
    height: auto;
    margin: .5rem;
    padding: 0;
}
[class*='col-'] {
    width: 50%;
    float: left;
    min-height: 1px;
    padding: .5rem;
    margin: 0;
    min-height: 1px;
}

.col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-6 > .btn-typ-3 {
    width: 120px;
}

#logo {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: .1rem;
}

/* === stadtgespeichert === */

.stadtgespeichert {
    width: 400px;
    height: 200px;
    border: solid 1px blue;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 1rem;
    background-color: white;
}