<!DOCTYPE HTML>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<body>
<div class="stadtgespeichert">
    <h2 class="ueberschrift2">Du hast eine neue Stadt gespeichert</h2>
    <div id="div-innerhalb-stadtgespeichert">
        <div class="row">
            <div class="col-3">
                <p>Stadt: </p>
            </div>
            <div class="col-3" id="col-3-stadt">
                <p th:text="${wunschStadtEntity.stadtName}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Urlaubswunsch: </p>
            </div>
            <div class="col-3" id="col-3-urlaubswunsch">
                <p th:text="${wunschStadtEntity.urlaubsWunsch}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <form action="/getCities2">
                <button type="submit" class="btn-typ-100">Siehe Wunschtädte</button>
            </form>
        </div>
        <div class="col-100">
            <form action="/createCityForm">
                <button type="submit" class="btn-typ-100">Wunschstadt hinzufügen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>