<!DOCTYPE html>
<html th:fragment="layout (template)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>WetterEasyGemacht</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta id="Viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum=scale=1, minimum=scale=1, user-scalable=no, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../img/favicon.ico.png">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" th:src="@{/js/dynamic-form.js}" defer></script>
</head>
<body>
    <div class="header-bereich" id="oberster-bereich">
        <header>
            <div class="logo">
                <img th:src="@{/img/logo7.png}" alt="Das Logo, Sonne und 3D Kunstwerk mit dem Wort Wetter">
            </div>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">WetterEasyGemacht</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Startseite</a></li>
                        <li><a href="/getCities2">Meine Wunschstädte</a></li>
                        <li><a href="/createCityForm">Wunschstadt hinzufügen</a></li>
                        <li>
                            <form class="navbar-form navbar-left" action="#" th:action="@{/fetchWeatherData}" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your favorite city" th:name="cityName"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                            <li>
                                <div sec:authorize="!isAuthenticated()">
                                    <form th:method="POST" action="#" th:action="@{/oauth2/authorization/okta}">
                                        <button class="login-form" type="submit"> Login</button>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div sec:authorize="isAuthenticated()">
                                    <form th:method="POST" action="#" th:action="@{/logout}">
                                        <button class="logout-form" type="submit"> Logout</button>
                                    </form>
                                </div>
                            </li>
                    </ul>
                </div>
            </nav>
            <div id="leerer-bereich"></div>
        </header>
    </div>
    <main role="main" class="content-wrapper mt-r">
        <div class="continer">
            <!--/*@thymesVar id="template" type="templates"*/-->
            <section th:include="${template}"></section>
        </div>
    </main>
</body>
</html>