<!DOCTYPE HTML>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<body>
    <div class="stadtSpeichern">
        <form action="#" th:action="@{/createcity}" th:object="${wunschStadtEntity}" method="post">
            <h2 class="ueberschrift2">Geben Sie Ihre Wunschstadt ein: </h2>
            <div class="row">
                <div class="col-3">
                    <label for="stadt1">Stadtname: </label>
                </div>
                <div class="col-3">
                    <input id="stadt1" type="text" name="stadtname" th:field="*{stadtName}" placeholder="z.B. Berlin">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="urlaubswunsch1">Urlaubswunsch: </label>
                </div>
                <div class="col-3">
                    <input id="urlaubswunsch1" type="text" name="urlaubswunsch1" th:field="*{urlaubsWunsch}" placeholder="z.B. gerne">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button id="absendeButton" class="btn-typ-3" type="submit" name="absendeButton">Bestätigen</button>
                </div>
                <div class="col-6">
                    <button id="resetButton" class="btn-typ-3" type="reset" name="resetButton">zurücksetzen</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>