<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wunschstädte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: pink">
<!--<h2 th:case="null">No cities yet!</h2>-->
<h1>Deine Traumstädte!</h1>
<table>
    <thead>
    <tr>
        <th>Stadtname</th>
        <th>Urlaubswunsch</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${wunschStadtEntities.isEmpty()}">
        <td colspan="2">No cities Available</td>
    </tr>
    <tr th:each="wunschStadtEntity : ${wunschStadtEntities}">
        <td><span th:text="${wunschStadtEntity.stadtName}">Stadtname </span></td>
        <td><span th:text="${wunschStadtEntity.urlaubsWunsch}">Urlaubswunsch </span></td>
    </tr>
    </tbody>
</table>
<a href="/createCityForm">Neue Wunschstadt hinzufügen</a>
</body>
</html>